<configuration  debug="true" >
    <appender name="FILE2" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5p|%-5.5t|%-40.40c %4L- %m%n"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">

        <file>/srv/TomcatA/logs/ETS.log</file>

        <encoder>

            <charset>UTF-8</charset>

            <pattern>${PATTERN}</pattern>

        </encoder>

    </appender>
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>

    <logger name="ruzicka.ets"         level="DEBUG" />
</configuration>
