<configuration debug="true">
    <!-- Define the log pattern -->
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5p|%-5.5t|%-40.40c %4L- %m%n"/>

    <!-- Console appender for logging to console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- RollingFileAppender for log rotation and compression -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/ETS.log</file>

        <!-- Define the rolling policy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover with compression -->
            <fileNamePattern>./logs/ETS.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Appender for important events -->
    <appender name="IMPORTANT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/important.log</file>

        <!-- Define the rolling policy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover with compression -->
            <fileNamePattern>./logs/important.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Specific logger configuration -->
    <logger name="ruzicka.ets" level="DEBUG" />

    <!-- Logger for important information only -->
    <logger name="importantLogger" level="INFO" additivity="false">
        <appender-ref ref="IMPORTANT" />
    </logger>
</configuration>